<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= static.title %></title>
    <link rel="stylesheet" href="<%= constant.base_url%>/css/app.css">
    <%- include('../components/constant') %>
    <!--libs-->
    <script data-main="<%= constant.base_url%>/scripts/modules/funds/fundDetail" src="<%= constant.base_url%>/scripts/libs/requirejs/require.js"></script>
</head>

<body class="products">
    <!--导入基金产品详情-->
    <%- include('../components/productDetail') %>
</body>

</html>
