<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= static.title %>-交易密码设置</title>
    <link rel="stylesheet" href="<%= constant.base_url%>/css/app.css">
    <%- include('../components/constant') %>
    <!--libs-->
    <script data-main="<%= constant.base_url%>/scripts/modules/password/setPayPwd" src="<%= constant.base_url%>/scripts/libs/requirejs/require.js"></script>
</head>

<body class="account">
    <!--导入头部-->
    <%- include('../components/subHeader') %>

    <!--主体内容-->

    <div class="row-container">
        <div class="module password-manage-module">
            <!--title-->
            <div class="title">
                <h3 class="module-title">
                    设置交易密码
                </h3>
            </div>
            <!--密码入口-->
            <div class=" password-reset">
                <div class="form-center">
                    <!-- 验证步骤 -->
                    <%if(is_bindcard){%>
                    <div class="change-step container-width-s">
                        <div class="process-container">
                            <div class="reg-line"></div>
                            <!-- 3步骤 -->
                            <div class="step"><span class="num">1</span><div class="step-name">绑定银行卡</div></div>
                            <div class="step step-active"><span class="num">2</span><div class="step-name">设置交易密码</div></div>
                            <div class="step"><span class="num">3</span><div class="step-name">绑定成功</div></div>
                            <div class="step-clearfix"></div>
                        </div>
                    </div>

                    <%} else if(is_settranspwd) {%>
                    <div class="change-step container-width-s">
                        <div class="process-container">
                            <div class="reg-line"></div>
                            <!-- 2步骤 -->                  
                            <div class="step step-active step-offset-2"><span class="num">1</span><div class="step-name">设置交易密码</div></div>
                            <div class="step"><span class="num">2</span><div class="step-name">设置成功</div></div>
                            <div class="step-clearfix"></div>
                        </div>
                    </div>

                    <%} else {%>
                    <div class="change-step">
                        <div class="process-container">
                            <div class="reg-line"></div>
                            <div class="step"><span class="num">1</span><div class="step-name">注册</div></div>
                            <div class="step"><span class="num">2</span><div class="step-name">绑定银行卡</div></div>
                            <div class="step step-active"><span class="num">3</span><div class="step-name">设置交易密码</div></div>
                            <div class="step"><span class="num">4</span><div class="step-name">完成注册</div></div>
                            <div class="step-clearfix"></div>
                        </div>
                    </div>
                    
                    <%}%>
                    <!--因为UI给的宽度不一致，注意一下class，这个form有个login-passowrd-reset的class-->
                    <form action="<%= constant.base_url%>/register/setPayPwd" method="POST" id="setPayPwdForm" class="login-password-reset" style="margin-left: 223px">
                    <% if(errorMsg.message) {%>
                        <div class="tip-error form-tip">
                            <i></i><%= errorMsg.message%>
                            <button class="close-btn" id="tipCloseBtn" type="button"></button>
                        </div>
                    <%}%>
                        <input type="hidden" name="random_uuid" />
                        <input type="hidden" name="random_num" />
                        <label for="password" class="label-inner help-tip">
                            <span class="inner-title">交易密码：</span>
                            <input required number="number" class="g-input" minlength="6" maxlength="6" id="password" name="payFirstPwd" type="password" value="" placeholder="请输入6位数字密码">
                        </label>
                        <label for="re-passowrd" class="label-inner help-tip">
                            <span class="inner-title">确认交易密码：</span>
                            <input required maxlength="6" class="g-input" equalTo="#password" id="re-passowrd" type="password" name="payLastPwd" value="" placeholder="请输入6位数字密码">
                        </label>

                        <!--表单提交-->
                        <div class="form-submit">
                            <button type="submit" class="submit-btn">
                                确定
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!--温馨提示-->
            <div class="form-tip-info">
                <p class="form-ts">
                    温馨提示:
                </p>
                <p>
                    交易密码是您进行基金交易时使用的密码，请妥善保存。
                </p>
            </div>
        </div>
    </div>

    <!--导入页脚-->
    <%- include('../components/footer') %>
</body>

</html>
