<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= static.title %></title>
    <link rel="stylesheet" href="<%= constant.base_url %>/css/app.css">
    <%- include('../components/constant') %>
    <!--libs-->
    <script data-main="<%= constant.base_url %>/scripts/modules/aboutUs/aboutUs"
            src="<%= constant.base_url %>/scripts/libs/requirejs/require.js"></script>
    <script>
      // function pgeFocus(obj) {
      // console.log(obj[0].parentNode.getElementsByClassName("prompt")[0].style.display="none")
      // }
    </script>
    <style>
        .section-info {
            margin: 50px 0 70px;
        }

        .text-center {
            text-align: center;
            font-size: 16px;
        }

        h3.title {
            position: relative;
            overflow: visible !important;
            font-size: 16px;
        }

        h3.title .line {
            width: 165px;
            height: 3px;
            background-color: #c1242b;
            position: absolute;
            left: 50%;
            margin-left: -82px;
            bottom: -2px;
        }
        .con b{
            font-weight: 500;
        }

    </style>
</head>

<body class="home">
<!--头部开始-->
<!--导入头部-->
<%- include('../components/subHeader') %>

<!--banner区域-->
<div class="header-banner">
    <div class="banner-ad">
        <img src="../images/common/aboutUs/banner.jpg" alt="">
    </div>
</div>

<!--内容开始-->
<div class="main-content row-container con">
    <div class="row">
        <div class="aboutus-module module">
        	<div class="back-btn">
        		您的位置：
               <a href="/company">
                   	首页
               </a>
               <span class="back-icon">&gt;</span>
               <a href="/company/aboutUs">
                   	关于通华
               </a>
               <span class="back-icon">&gt;</span>
               <a href="/company/aboutUs?xxpl=on">
                   	信息披露
               </a>
               <span class="back-icon">&gt;</span>
                   	销售适当性管理制度
           	</div>
           	<div class="module">
	             <h3 style="text-align:center;font-size:18px;margin-bottom:10px;font-weight:500;">
                   销售适当性管理制度
                </h3>

                <pre style="font-size:14px;white-space: pre-wrap;word-wrap: break-word; ">
            <h2 style="text-align:center;font-weight: 500; ">第一章 总则</h2>

<b>第一条</b> 为了规范基金销售行为，确保基金和相关产品销售的适用性，加强投资者教育，促进证券投资基金市场健康发展，依据《中华人民共和国证券投资基金法》《证券投资基金销售管理办法》《证券投资基金销售适用性指导意见》《证券期货投资者适当性管理办法》及其它法律法规制定本制度。

<b>第二条</b> 基金销售适当性是指基金销售机构在销售基金和相关产品的过程中，注重根据基金投资者的风险承受能力销售不同风险等级的产品，把合适的产品卖给合适的基金投资者。

		 <h2 style="text-align:center;font-weight: 500; ">第二章 基金产品风险评价</h2>

<b>第三条</b> 根据相关法律法规的评价标准，通华财富依据以下六个因素对基金产品进行风险等级评价：（一）基金招募说明书所明示的投资方向、投资范围和投资比例；（二）基金的流动性、杠杆情况及结构复杂性；（三）基金的过往业绩及基金净值的历史波动程度；（四）基金的募集方式及到期时限；（五）投资单位产品的最低金额；（六）发行人等相关主体的信用状况。涉及投资组合的产品，应当按照产品整体风险等级进行评估。
1、基金产品风险评价
该分类体系按照基金招募说明书和基金合同约定的投资方向、投资范围、投资方法、业绩比较基准和基金风险收益特征等内容对我国的证券投资基金进行分类。同时对不同类型基金的风险等级进行划分。按照五级分类体系，划分为五类，高风险，中高风险，中风险，中低风险，低风险。对于设立不满 15 个月的基金，根据招募说明书标识的分类对应不同的风险等级；设立满 15 个月以上的基金，按照实际运作状况进行不同的风险评级，让评级结果更贴合实际表现。
（1）设立时间不满 15 个月的新基金分类
设立时间不满 15 个月的新基金的风险评级主要的划分依据是基金的招募说明书描述的基金类别分类。
按照证监会相关规定对基金分类的定义，基金可以分为股票型基金、混合型基金、债券型基金、保本型基金和货币型基金，为了更好的对基金的风险收益特征进行细分，设置一级分类以及二级分类：股票型基金下设置了封闭式股票型、主动股票开放式、指数股票型、股票型 QDII，主要的划分原则是股票投资比例下限来进行划分；混合型基金下设了封闭式混合型、偏股混合型、偏债混合型、平衡混合型、灵活混合型，主要的划分原则是依据混合型基金投资股票和债券的比例。债券型基金下设了封闭式偏债债券型基金、封闭式准债基金、封闭式信用债基金、开放式纯债基金、开放式偏债基金、开放式准债基金、开放式可转债基金、开放式信用债基金、短期理财基金、中期理财基金、长期理财债基金、QDII 环球债券基金、债券指数基金，主要划分原则是债券基金是否在一级市场、二级市场参与股票投资以及参与可转债投资；
货币型基金和保本型基金下面没有设置二级分类；对于创新的杠杆基金下设股票型稳健份额、股票型激进份额、股票其他、债券稳健份额、债券激进份额；对于生命周期型基金根据所处时间段的投资比例限制来做相应的划分。
（2）对于设立期不满 15 个月的新基金风险分类
对于设立期在 15 个月以内的基金风险类型按照事前分类来确定所处的风险类型：股票型基金（指数基金属于股票类）的风险评级都属于高风险；混合型基金下的偏股配置型基金的风险评级属于中高风险；混合型基金下的灵活配置型、平衡配置型、偏债配置型基金属于中风险。保本基金如果契约规定其投资股票上限可以超过 20%的归入中风险，否则属于中低风险。由于偏股配置、灵活配置、平衡配置、偏债配置型基金、保本基金投资股票区间的变化程度比较大，我们在季报出来之后根据股票仓位进行调整，如果偏股配置、灵活配置型、平衡配置型、偏债配置型基金、以及保本基金最近一期季报股票仓位超过 80%的划入高风险等级，超过 65%划入中高风险，保本基金如果股票仓位高于 20%划入中风险，否则仍然留在原有风险等级里。
债券型基金中封闭式偏债债券型基金、封闭式准债基金、封闭式信用债基金、开放式纯债基金、开放式偏债基金、开放式准债基金、开放式可转债基金、开放式信用债基金、QDII 环球债券基金、债券指数基金、中期理财基金、长期理财债的风险评级属于中低风险。货币基金、短期理财基金的风险评级属于低风险。对于创新的杠杆基金下的股票型稳健类份额属于中低风险、股票型激进类份额属于高风险、股票其他份额属于高风险、债券稳健类份额属于中低风险、债券型激进类份额如果初始杠杆在 2 倍到 3.5 倍之间（左闭右开）属于中高风险、债券型激进类份额如果初始杠杆高于3.5 倍（含 3.5 倍）则属于高风险。
生命周期型基金根据基金的不同时期、基金的资产配置比例，比对混合型基金、债券型基金的划分标准来给予相应的风险等级评定。生命周期型基金在每个配置比例调整期视为新基金对其风险等级进行调整。
（3）设立时间满 15 个月的老基金风险评级的指标
对于设立时间 15 个月以上的基金，按照基金的实际运行状况，采用定量指标和定性指标结合的方法确定风险评价，其中定量指标包括标准差、贝塔值和重仓股集中度，定性指标主要考虑的是基金公司、基金经理或者该基金的违规情况。
把除指数基金以及混合型基金中的偏债配置型基金（剔除指数基金的原因是某些增强指数基金的重仓股并非基金前十大重仓股，而偏债配置型基金投资范围窄，并且数量较少，与其他股票混合型基金差异较大。）之外的股票型基金和混合型基金过去一年的表现按照上述指标进行了计算，按照35%，50%和 15%的比例划分为激进型基金、平衡型基金和稳健型基金。上述基金按照事后分类的原则进行风险评级划分：
− 激进型基金和指数型基金的风险评级是高风险
− 平衡型基金的风险评级是中高风险
− 稳健型基金和混合型基金下的偏债配置型基金属于中风险
− 保本基金如果契约规定其投资股票上限可以超过 20%的归入中风险，否则属于中低风险
− 对于平衡型基金、稳健型基金、偏债配置型基金以及保本基金投资股票区间的变化程度比较大，在基金季报出来之后根据股票仓位进行调整，如果最近一期季报股票仓位超过 80%的划入高风险等级，超过 65%划入中高风险，保本基金如果股票仓位高于 20%划入中风险，否则仍然留在原有风险等级里。
− 风险评级属于中低和低的基金与设立时间在 15 个月以内的基金相同，因为这类基金风险收益特征相对稳定，变化较小，所以不再根据实际运行情况进行区分。
− 股票型指数基金风险等级事先确定后不再改变。
− 杠杆型基金风险等级事先确定后就不再改变。
2、基金运作风险评价
对基金的历史规模和持仓比例、基金的过往业绩及基金净值的历史波动程度和基金成立以来有无违规行为发生等因素进行评价，其中以基金的过往业绩及基金净值的历史波动为主要考虑因素。
3、产品存在下列因素的，应当审慎评估其风险等级：
（1）存在本金损失的可能性，因杠杆交易等因素容易导致本金大部分或者全部损失的产品；
（2）产品的流动变现能力，因无公开交易市场、参与投资者少
等因素导致难以在短期内以合理价格顺利变现的产品；
（3）产品的可理解性，因结构复杂、不易估值等因素导致普通人难以理解其条款和特征的产品；
（4）产品的募集方式，涉及面广、影响力大的公募产品；
（5）产品的跨境因素，存在市场差异、适用境外法律等情形的
跨境发行或者交易的产品；
（6）自律组织认定的高风险产品；
（7）其他有可能构成投资风险的因素。

<b>第四条</b> 代销其他机构发行的基金产品，应当在合同中约定要求委托方提供产品分级考虑因素等，自行对该信息进行调查核实。委托方不提供规定的信息、提供信息不完整的，通华财富应当拒绝代销其基金产品。

													<b>第三章 基金投资者风险能力评估</b>

<b>第五条</b> 完善基金投资者身份认证程序，核实基金投资者身份的合法合规，履行反洗钱法律义务。

<b>第六条</b> 向投资者销售产品时，应当了解投资者的下列信息：
（一）自然人的姓名、住址、职业、年龄、联系方式，法人或者其他组织的名称、注册地址、办公地址、性质、资质及经营范围等基本信息；
（二）收入来源和数额、资产、债务等财务状况；
（三）投资相关的学习、工作经历及投资经验；
（四）投资期限、品种、期望收益等投资目标；
（五）风险偏好及可承受的损失；
（六）诚信记录；
（七）实际控制投资者的自然人和交易的实际受益人；
（八）法律法规、自律规则规定的投资者准入要求相关信息；

<b>第七条</b> 应将投资者分为普通投资者与专业投资者。并要求专业投资者提供相关证明材料。应对普通投资者在信息告知、风险警示、适当性匹配等方面进行特别保护。按照有效维护投资者权益的要求，对普通投资者进行细化分类和管理。普通投资者和专业投资者在一定条件下可以互相转化。

<b>第八条</b> 应根据投资者和产品或者服务的信息变化情况，主动调整投资者分类、产品或者服务分级以及适当性匹配意见，并告知投资者上述情况。
按照有效维护投资者合法权益的要求，综合考虑收入来源、资产状况、债务、投资知识和经验、风险偏好、诚信状况等因素，对普通投资者进一步细化分类：
（一）保守型投资者
（二）谨慎型投资者
（三）稳健型投资者
（四）积极型投资者
（五）激进型投资者

<b>第九条</b> 在基金投资者(包括个人投资者和机构投资者)首次开立基金账户时或首次购买基金产品前对基金投资者进行风险承受能力调查。

<b>第十条</b> 由于不同的基金产品有不同的投资目标和风险收益特征，投资者由于年龄、收入、支出、财产、性格等差异形成不同的基金投资风险承受能力。一般来说，激进型和积极型的投资者追求风险较高的基金产品；稳健型的投资者追求风险适中的基金产品；谨慎型和保守型的投资者追求风险较低的基金产品。评估投资者的基金投资风险承受能力是开展基金销售活动的基础。在短期与长期风险承受水平调查和评价中，投资者风险承受能力调查问卷从客观风险承受力及主观风险偏好两方面考虑基金投资者实际风险承受水平，既考虑到投资者(包括个人投资者和机构投资者)基本情况及现阶段收入、支出及财务状况等客观性风险承受能力，也考虑到不同投资者风险偏好差异，综合主客观因素后得出投资者(包括个人投资者和机构投资者)短期及长期风险承受水平的得分。

													<b>第四章 基金管理公司评价说明</b>

<b>第十一条</b> 选择代销基金产品时，应当对基金管理公司进行审慎调查并做出评价，了解基金管理公司的基本情况、诚信状况、经营管理能力、投资管理能力和内部控制等情况。并可将调查结果作为是否代销该基金管理人的基金产品或是否向基金投资人优先推介该基金管理人的重要依据。开展审慎调查应当优先根据被调查方公开披露的信息进行，接受被调查方提供的非公开信息时，应对信息的适当性实施尽职甄别。

													<b>第五章 基金销售适用性的匹配实施</b>

<b>第十二条</b> 产品部负责制定和基金销售适用性相关的制度和程序，建立销售的基金产品池，运营部负责在销售业务信息管理平台中建设并维护和基金销售适用性相关的功能模块。

<b>第十三条</b> 理财业务部就基金销售适用性的理论和实践对基金销售人员实行专题培训。

<b>第十四条</b> 基金产品和基金投资者匹配方法
销售适用性匹配方法：产品匹配法
投资者（包括个人投资者和机构投资者)填写风险承受能力调查问卷，在每位投资者进行测评时，将记录该基金投资者（包括个人投资者和机构投资者)的测评分值，以测评分值所得到的风险级别作为能否购买对应类别基金产品的判断。
个人/机构投资者风险承受能力划分标准对照表：
<table border=1 cellspacing=0 cellpadding=0 style='border:1px solid #000'>
<tr><th> 风险承受能力  </th><th>分值区间</th></tr>
<tr><td> 保守型 </td><td> 20 分以下 </td></tr>
<tr><td> 谨慎型 </td><td> 20-36 分 </td></tr>
<tr><td> 稳健型 </td><td> 37-53 分 </td></tr>
<tr><td> 积极型 </td><td> 54-82 分 </td></tr>
<tr><td> 激进型 </td><td> 83 分以上 </td></tr>
</table>
1、激进型的投资者对应可买高、中高、中、中低和低风险等级
基金产品；
2、积极型的投资者对应可买中高、中、中低和低风险等级基金
产品；
3、稳健型的投资者对应可买中、中低和低风险等级基金产品；
4、谨慎型的投资者对应可买中低和低风险等级基金产品；
5、保守型的投资者对应低风险等级基金产品；
6、如果对应，就视为销售匹配；
7、如果不对应，就视为销售不匹配；

<b>第十五条</b> 应明确投资者分类，根据产品分级、根据适当性匹配原则，将合适的产品匹配给合适的投资者。通华财富告知投资者不适合购买相关产品后，投资者主动要求购买风险等级高于其风险承受能力的产品的，通华财富在确认其不属于风险承受能力最低类别的投资者后，应当就产品高于其承受能力进行特别的书面风险警示，投资者仍坚持购买的，可以向其销售产品。

<b>第十六条</b> 向普通投资者销售高风险产品时，应当履行特别的注意义务，包括制定专门的工作程序，追加了解相关信息，告知特别的风险点，给予普通投资者更多的考虑时间，或者增加回访频次等。

<b>第十七条</b> 应当根据投资者和产品的信息变化情况，主动调整投资者分类、产品分级以及适当性匹配意见，并告知投资者上述情况。

<b>第十八条</b> 向投资者销售产品时，不得有以下活动：
（一）向普通投资者主动推介风险等级高于其风险承受能力的产品；
（二）向普通投资者主动推介不符合其投资目标的产品；
（三）向风险承受能力最低类别的投资者销售或者提供风险等级高于其风险承受能力的产品。

<b>第十九条</b> 向普通投资者销售产品前，应当告知下列信息：
（一）可能直接导致本金亏损的事项；
（二）可能直接导致超过原始本金损失的事项；
（三）因经营机构的业务或者财产状况变化，可能导致本金或者原始本金亏损的事项；
（四）因经营机构的业务或者财产状况变化，影响客户判断的重要事由；
（五）限制销售对象权利行使期限或者可解除合同期限等全部限制内容。

													<b>第六章 附则</b>

<b>第二十条</b> 本制度依据现行的法律法规、监管政策制定，如遇相关法律法规、监管政策做出调整而与本制度不一致时，依据新的法律法规、监管政策的规定执行。

<b>第二十一条</b> 本制度由总裁办公会负责解释、修订。

<b>第二十二条</b> 本制度自发布之日起施行。
                
                </pre>
            </div>
        </div>
    </div>
</div>

<!--导入页脚-->
<%- include('../components/footer') %>

</body>