<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= static.title %>-添加银行卡</title>
    <link rel="stylesheet" href="<%= constant.base_url %>/css/app.css">
    <%- include('../components/constant') %>
    <!--libs-->
    <script data-main="<%= constant.base_url %>/scripts/modules/bankCard/addCard"
            src="<%= constant.base_url %>/scripts/libs/requirejs/require.js"></script>
    <script>
      // JS里的bkinfo由这里带进去
      window.bkinfo = <%- JSON.stringify(bkinfo) %>
    </script>
</head>

<!-- 提示：换卡和绑卡同页面模板，所以没有新建！！！ -->

<body class="account"> 
<!--导入头部-->
<%- include('../components/subHeader') %>

<!--主体内容-->
<div class="row-container">
    <!--添加银行卡模块-->
    <div class="module addcard-module add-card-margin">
        <!--title-->
        <div class="title">
            <h3 class="module-title">
                添加银行卡
            </h3>
        </div>
        <div class="addcard-form">
            <form action="<%= constant.base_url%>/account/bankCard/addCard" method="POST" id="addCardForm">
                <% if(errorMsg.message) {%>
                <div class="tip-error form-tip">
                    <i></i><%= errorMsg.message%>
                    <button class="close-btn" id="tipCloseBtn" type="button"></button>
                </div>
                <%}%>
                <div class="select-bank" id="select_bank">
                    <span>开户银行：</span>
                    <div class="selected-bank  <%= bkinfo.length > 1 ? 'multiple' : '' %>">
                        <span class="cur-bank"><%= fields.bkinfo_name || bkinfo[0].bkinfo_name %></span>
                        <% if(bkinfo.length > 1){ %>
                        <!-- <i class="icon-triangle" style="margin-top:9px;"></i> -->
                        <ul class="select-options hide">
                            <% bkinfo.forEach(function(item, i){ %>
                            <li class="select-bankcard" data-val="<%= item.bkinfo_code %>"
                                data-list="<%= JSON.stringify(item) %>">
                                <%= item.bkinfo_name %>
                            </li>
                            <% }) %>
                        </ul>
                        <% } %>
                    </div>
                    <!-- <span id="pay_prompt_tip" class="tip-rule simpletooltip" data-simpletooltip-position="bottom-right">
                            <i class="icon-tip-black"></i>
                        </span> -->
                </div>
                <input type="hidden" name="id_type" value="1">
                <input type="hidden" name="smslog_serno" value="<%= fields.smslog_serno %>">
                <input type="hidden" name="bkinfo_code" value="<%= fields.bkinfo_code || bkinfo[0].bkinfo_code %>">
                <input type="hidden" name="bkinfo_name" value="<%= fields.bkinfo_name || bkinfo[0].bkinfo_name %>">
                <label for="bankcard-num" class="help-tip">
                    <span>银行卡号：</span>
                    <input required number="number" minlength="16" maxlength="19" placeholder="请输入您的银行卡卡号"
                           name="card_no" id="bankcard-num" style="cursor:default" type="text" value="<%= fields.card_no %>">
                </label>
                <%if(constant.bank_card.add_cactlog_newmode == "99"){%>
                    <% if(bkinfo[0].list && bkinfo[0].list.length > 0){ %>
                        <div class="verify-mode">
                            <span class="input-title">验证方式：</span>
                            <div class="input-contain mode-wrapper" id="bnkcha_target_radio" style="margin-top:9px;"></div>
                        </div>
                    <% } %>
                <%} else {%>
                    <input type="hidden" name="cactlog_newmode" value="<%constant.bank_card.add_cactlog_newmode%>">
                <%}%>

                <label for="phone-number" class="help-tip">
                    <span>银行预留手机号：</span>
                    <input required phone="phone" minlength="11" maxlength="11" placeholder="请输入您的银行预留手机号" name="mobile"
                           id="phone-number" type="text" value="<%= fields.mobile || regist_custphone %>">
                </label>
                <label for="get-verifycode" class="get-verifycode help-tip">
                    <span>验证码：</span>
                    <input required number="number" maxlength="6" minlength="6" name="verification_code"
                           placeholder="手机验证码" id="get-verifycode" type="text" value="<%=fields.verification_code%>">
                    <button id="get-verifycode-btn" type="button" class="col tip-inifo get-verifycode-btn">获取验证码
                    </button>
                </label>
                <!--验证码发送提示-->
                <div class="verify-sending-tip" id="tips"></div>

                <div class="submit-btn">
                    <button type="submit">下一步</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!--导入页脚-->
<%- include('../components/footer') %>
</body>

</html>
