
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= static.title %>-解绑银行卡</title>
    <link rel="stylesheet" href="<%= constant.base_url %>/css/app.css">
    <%- include('../components/constant') %>
    <!--libs-->
    <script data-main="<%= constant.base_url %>/scripts/modules/bankCard/removeCard"
            src="<%= constant.base_url %>/scripts/libs/requirejs/require.js"></script>
    <script>
        window.select_card_info = "<%= select_card_info %>";
    </script>
</head>

<!-- 提示：换卡和绑卡同页面模板，所以没有新建！！！ -->

<body class="account">
<!--导入头部-->
<%- include('../components/subHeader') %>

<!--主体内容-->
<div class="row-container addcard-module register-success" style="background: #fff">
    <!--添加银行卡模块-->
    <% if(is_change) {%>
    <div class="module addcard-module">
        <!--title-->
        <div class="title">
            <h3 class="module-title">
                解绑银行卡
            </h3>
        </div>
        <div class="addcard-form">
            <form action="<%= constant.base_url %>/account/bankCard/removeCard" method="POST" id="addCardForm">
                <% if(errorMsg.message) { %>
                <div class="tip-error form-tip">
                    <i></i><%= errorMsg.message %>
                    <button class="close-btn" id="tipCloseBtn" type="button"></button>
                </div>
                <% } %>

                <!--解绑卡不需要选择开户行-->
                <!--<div class="select-bank" id="select_bank">-->
                    <!--<span>开户银行：</span>-->
                    <!--<div class="selected-bank">-->
                        <!--<span class="cur-bank"><%= bkinfo[0].bkinfo_name %></span>-->
                        <!--<% if(bkinfo.length > 1){ %>-->
                        <!--<i class="icon-triangle"></i>-->
                        <!--<ul class="select-options hide">-->
                            <!--<% bkinfo.forEach(function(item, i){ %>-->
                            <!--<li data-val="<%= item.bkinfo_code %>"-->
                                <!--data-list="<%= JSON.stringify(item) %>"><%= item.bkinfo_name %></li>-->
                            <!--<% }) %>-->
                        <!--</ul>-->
                        <!--<% } %>-->
                    <!--</div>-->
                    <!--<span id="pay_prompt_tip" class="tip-rule simpletooltip" data-simpletooltip-position="bottom-right">-->
                        <!--<i class="icon-tip-black"></i>-->
                    <!--</span>-->
                <!--</div>-->

                <input type="hidden" name="id_type" value="1">
                <input type="hidden" name="smslog_serno" value="<%= fields.smslog_serno %>">
                <input type="hidden" name="bkinfo_code" value="<%= bkinfo[0].bkinfo_code %>">
                <input type="hidden" name="bkinfo_phone" value="<%= select_card_info.bkact_actphone %>">

                <label for="bankcard-num" class="help-tip">
                    <span>银行卡号：</span>
                    <input required
                           readonly
                           number="number"
                           minlength="16"
                           maxlength="19"
                           name="card_no"
                           id="bankcard-num"
                           type="text"
                           value="<%= select_card_info.bkact_acctno %>">
                </label>
                <!--<label for="phone-number" class="help-tip">-->
                    <!--<span>银行预留手机号：</span>-->
                    <!--<input required phone="phone" minlength="11" maxlength="11" placeholder="请输入您的银行预留手机号" name="mobile"-->
                           <!--id="phone-number" type="text" value="<%= fields.mobile %>">-->
                <!--</label>-->
                <label for="get-verifycode" class="get-verifycode help-tip">
                    <span>验证码：</span>
                    <input required number="number" maxlength="6" minlength="6" name="verification_code"
                           placeholder="手机验证码" id="get-verifycode" type="text" value="">
                    <button id="get-verifycode-btn" type="button" class="col tip-inifo get-verifycode-btn">获取验证码
                    </button>
                </label>
                <!--验证码发送提示-->
                <div class="verify-sending-tip" id="tips"></div>

                <div class="submit-btn">
                    <button type="submit">下一步</button>
                </div>
            </form>

        </div>
    </div>
    <%} else {%>
        <div class="bind-success success-tip">
            <i class="icon-faild"></i>
            <p style="font-size: 20px;">
                对不起！该银行账户无法解绑！
            </p>
            <p style="font-size: 20px;">
                基金账户下存在未赎回份额,请先将所有份额赎回再进行解绑操作。
            </p>
            <p style="color: #ee1010;">
                若银行卡遗失需要紧急解绑银行卡，请联系银行工作人员进行处理。
            </p>
            <p>
                <a class="bind-btn" href="<%= constant.base_url%>/account">
                    返回
                </a>
            </p>
        </div>
    <%}%>
</div>

<!--导入页脚-->
<%- include('../components/footer') %>
</body>

</html>
