<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= static.title %>-登录密码重置</title>
    <link rel="stylesheet" href="<%= constant.base_url%>/css/app.css">
    <%- include('../components/constant') %>
    <!--libs-->
    <script data-main="<%= constant.base_url%>/scripts/modules/password/loginPwdReset" src="<%= constant.base_url%>/scripts/libs/requirejs/require.js"></script>
</head>

<body class="account">
    <!--导入头部-->
    <%- include('../components/subHeader') %>

    <!--主体内容-->

    <div class="row-container">
        <div class="module password-manage-module">
            <!--title-->
            <div class="title">
                <h3 class="module-title">
                    找回账号密码
                </h3>
            </div>
            <!--密码入口-->
            <div class=" password-reset">
                <div class="form-center">
                    <!-- 验证步骤 -->
                   <div class="change-step">
                        <div class="process-container">
                            <div class="reg-line"></div>
                            <div class="step step-col-5"><span class="num">1</span><div class="step-name">输入账号</div></div>
                            <div class="step step-col-5"><span class="num">2</span><div class="step-name">选择重置方式</div></div>
                            <div class="step step-col-5"><span class="num">3</span><div class="step-name">输入验证码</div></div>
                            <div class="step step-col-5 step-active"><span class="num">4</span><div class="step-name">重置密码</div></div>
                            <div class="step step-col-5"><span class="num">5</span><div class="step-name">重置成功</div></div>
                            <div class="step-clearfix"></div>
                        </div>
                  </div>
                    <!--因为UI给的宽度不一致，注意一下class，这个form有个login-passowrd-reset的class-->
                    <form action="<%= constant.base_url%>/account/password/loginPwdReset" method="POST" id="form" class="login-password-reset" style="position:relative; left: 232px">
                    <% if(errorMsg.message) {%>
                        <div class="tip-error form-tip">
                            <i></i><%= errorMsg.message%>
                            <button class="close-btn" id="tipCloseBtn" type="button"></button>
                        </div>
                    <%}%>
                        <!--<label for="password" class="label-inner help-tip">-->
                            <!--<span class="inner-title">新登录密码：</span>-->
                            <!--<input required pwd="pwd" minlength="6" maxlength="16" class="has-input-bg" id="password" name="loginFirstPwd" type="password" value="" placeholder="请输入新登录密码">-->
                            <!--<span class="inpur-outer-pwd-level">密码安全等级:<em class="low">低</em></span>-->
                        <!--</label>-->
                        <!--<label for="re-passowrd" class="label-inner help-tip">-->
                            <!--<span class="inner-title">再次输入登录密码：</span>-->
                            <!--<input required  minlength="6" maxlength="16" equalTo="#password" class="has-input-bg" id="re-passowrd" type="password" name="loginLastPwd" value="" placeholder="请再次输入登录密码">-->
                            <!--<span class="inpur-outer-pwd-level">密码安全等级:<em class="low">低</em></span>-->
                        <!--</label>-->
                        <label for="password" class="label-inner help-tip">
                            <span class="inner-title">登录密码：</span>
                            <div id="_ocx_password_str1"></div>
                            <!-- <span class="inpur-outer-pwd-level">密码安全等级:<em class="low">低</em></span> -->
                            <!--<span class="ocx-pwd-tip modify-pwd-tip">请输入6~16位密码,密码必须包含数字,字母,特殊符号其中两种</span>-->
                        </label>
                        <label for="password" class="label-inner help-tip">
                            <span class="inner-title">确认登录密码：</span>
                            <div id="_ocx_password_str2"></div>
                            <!-- <span class="inpur-outer-pwd-level">密码安全等级:<em class="low">低</em></span> -->
                            <!--<span class="ocx-pwd-tip modify-pwd-tip">请输入6~16位密码,密码必须包含数字,字母,特殊符号其中两种</span>-->
                        </label>
                        <!--<div class="ocx-pwd-tip" style="left: 170px">密码规则：请输入6~16位密码,密码必须包含数字、字母、特殊符号其中两种</div>-->

                        <!--表单提交-->
                        <div class="form-submit">
                            <button type="button" class="submit-btn" id="submit-btn">
                                确定
                            </button>
                        </div>
                        <div id="logg">
                        </div>
                        <input type="hidden" name="loginFirstPwd" id="loginFirstPwd" value="" />
                        <input type="hidden" name="loginLastPwd" id="loginLastPwd" value="" />
                        <input type="hidden" name="random_uuid" id="random_uuid" value="" />
                        <input type="hidden" name="local_network" id="local_network" value="" />
                        <input type="hidden" name="local_disk" id="local_disk" value="" />
                        <input type="hidden" name="local_cpu" id="local_cpu" value="" />
                        <input type="hidden" name="backpage" id="backpage" value="./login.jsp" />
                        <input type="hidden" name="doaction" id="doaction" value="login" />
                        <input type="hidden" name="passwordtype" id="passwordtype" value="1" />
                        <input type="hidden" id="lic" />
                    </form>
                </div>
            </div>
            <!--温馨提示-->
            <!-- <div class="form-tip-info">
                <p class="form-ts">
                    温馨提示:
                </p>
                <p style="font-size:14px;">
                    尊敬的客户，您好，如果您绑定的银行卡片不慎遗失，请立即致电客服：<%=constant.bank_phone%>。
                </p>
            </div> -->
        </div>
    </div>

    <!--导入页脚-->
    <%- include('../components/footer') %>
</body>

</html>
