<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= static.title %>-交易密码重置</title>
    <link rel="stylesheet" href="<%= constant.base_url%>/css/app.css">
    <%- include('../components/constant') %>
    <!--libs-->
    <script data-main="<%= constant.base_url%>/scripts/modules/password/modifyPayPwd" src="<%= constant.base_url%>/scripts/libs/requirejs/require.js"></script>
</head>

<body class="account">
    <!--导入头部-->
    <%- include('../components/subHeader') %>

    <!--主体内容-->

    <div class="row-container">
        <div class="module password-manage-module">
            <!--title-->
            <div class="title">
                <h3 class="module-title">
                    交易密码修改
                </h3>
            </div>
            <!--密码入口-->
            <div class=" password-reset">
                <div>
                    <!-- 验证步骤 -->
                    <div class="change-step container-width-s">
                        <div class="process-container">
                            <div class="reg-line"></div>
                            <!-- 2步骤 -->
                            <div class="step step-active step-offset-1"><span class="num">1</span><div class="step-name">原交易密码验证</div></div>
                            <div class="step"><span class="num">2</span><div class="step-name">修改成功</div></div>
                            <div class="step-clearfix"></div>
                        </div>
                    </div>
                    <!--因为UI给的宽度不一致，注意一下class，这个form有个login-passowrd-reset的class-->
                    <form action="<%= constant.base_url%>/account/password/modifyPayPwd" method="POST" id="form" style="margin-left:228px;" >
                    <% if(errorMsg.message) {%>
                        <div class="tip-error form-tip">
                            <i></i><%= errorMsg.message%>
                            <button class="close-btn" id="tipCloseBtn" type="button"></button>
                        </div>
                    <%}%>
                    <input type="hidden" name="random_uuid" />
                    <input type="hidden" name="random_num" />
                    <label for="password" class="label-inner help-tip">
                        <span class="inner-title">原交易密码：</span>
                        <input required number="number" minlength="6" maxlength="6" id="pay-password" name="pay_password" type="password" value="" placeholder="请输入密码" error-msg="<%= errorMsg.pay_password%>">
                    </label>
                        <label for="password" class="label-inner help-tip">
                            <span class="inner-title">新交易密码：</span>
                            <input required number="number" minlength="6" maxlength="6" id="payFirstPwd" name="payFirstPwd" type="password" value="" placeholder="请输入密码">
                        </label>
                        <label for="re-passowrd" class="label-inner help-tip">
                            <span class="inner-title">请再次输入密码：</span>
                            <input required number="number" maxlength="6" equalTo="#payFirstPwd" id="re-passowrd" type="password" name="payLastPwd" value="" placeholder="请再次输入密码">
                        </label>

                        <!--表单提交-->
                        <div class="form-submit">
                            <button type="submit" class="submit-btn" onsubmit="FormSubmitXiu()">
                                确定
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!--温馨提示-->
            <!-- <div class="form-tip-info">
                <p class="form-ts">
                    温馨提示:
                </p>
                <p>
                    尊敬的客户，您好，如果您绑定的银行卡片不慎遗失，请立即致电客服：<%=constant.bank_phone%>。
                </p>
            </div> -->
        </div>
    </div>

    <!--导入页脚-->
    <%- include('../components/footer') %>
</body>

</html>
