<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= static.title %>-密码管理</title>
    <link rel="stylesheet" href="<%= constant.base_url%>/css/app.css">
    <%- include('../components/constant') %>
    <!--libs-->
    <script data-main="<%= constant.base_url%>/scripts/modules/password/passwordManage" src="<%= constant.base_url%>/scripts/libs/requirejs/require.js"></script>
</head>

<body class="account">
<!--导入头部-->
<%- include('../components/subHeader') %>

<!--主体内容-->
<div class="row-container">
    <!--密码管理模块-->
    <div class="module password-manage-module">
        <!--title-->
        <div class="title">
            <h3 class="module-title">
                密码管理
            </h3>
        </div>
        <!--密码入口-->
        <div class="password-enter">
            <div class="entry-wrapper">
              <!-- 信任登录不需要修改修改登录密码模块 -->
              <%if(!constant.trust_login){%>
                <div class="entry-icon">
                    <img src="<%= constant.base_url%>/images/theme/<%= constant.img_theme_finder%>/red/icon-login-pwd.png" alt="">
                    <!--<a href="/account/password/modifyLoginPwd" class="login-pwd">-->
                    <!--登录密码-->
                    <!--</a>-->
                    <p>
                        <a href="<%= constant.base_url%>/account/password/modifyLoginPwd" class="link">
                            修改登录密码
                        </a>
                    </p>
                </div>
                <span class="line"></span>
                <%}%>
                <div class="entry-icon">
                    <img src="<%= constant.base_url%>/images/theme/<%= constant.img_theme_finder%>/red/icon-pay-pwd.png" alt="">
                    <!--<a href="/account/password/modifyLoginPwd" class="login-pwd">-->
                    <!--交易密码-->
                    <!--</a>-->
                    <p>
                        <a href="<%= constant.base_url%>/account/password/modifyPayPwd" class="pay-pwd link">
                            修改交易密码
                        </a>
                        <span class="split-line"></span>
                        <a href="<%= constant.base_url%>/account/password/payPwdResetStep1" class="pay-pwd link">
                            重置交易密码
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <!-- 温馨提示 -->
        <div class="form-tip-info">
            <p class="form-ts">
                温馨提示:
            </p>
            <p>
                尊敬的客户，您好，<%= constant.trust_login?'': '登录密码和'%>交易密码是你帐号安全的重要保障，请妥善保管。
            </p>
        </div>
    </div>
</div>

<!-- 需要弹框的模板 -->
<div id="password-tip-modal" class="password-tip-modal hide">
    <div class="pic-warning">
        <img src="<%= constant.base_url%>/images/account/pic-warning.png" alt="">
    </div>
    <div class="tip-text">
        请先绑定银行卡，再设置交易密码!
    </div>
    <div class="button-group">
        <button class="btn-primary">确定</button>
        <button class="btn-gray cancel-btn">取消</button>
    </div>
</div>

<!--导入页脚-->
<%- include('../components/footer') %>
</body>

</html>
