<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title><%= static.title %>-登录密码重置</title>
    <link rel="stylesheet" href="<%= constant.base_url%>/css/app.css">
    <%- include('../components/constant') %>
    <!--libs-->
    <script data-main="<%= constant.base_url%>/scripts/modules/password/verifyMobile" src="<%= constant.base_url%>/scripts/libs/requirejs/require.js"></script>
</head>

<body class="account">
    <!--导入头部-->
   <%- include('../components/subHeader') %>

    <!--主体内容-->
    <!--第一步-->
    <div class="row-container">
        <!--密码重置模块，第一步-->
        <div class="module password-manage-module">
            <!--title-->
            <div class="title">
                <h3 class="module-title">
                    登录密码重置
                </h3>
            </div>
            <!--密码入口-->
            <div class=" password-reset">
                <div>
              
                    <div class="change-step">
                        <div class="process-container">
                            <div class="reg-line"></div>
                            <div class="step step-col-5"><span class="num">1</span><div class="step-name">输入账号</div></div>
                            <div class="step step-col-5"><span class="num">2</span><div class="step-name">选择重置方式</div></div>
                            <div class="step step-col-5 step-active"><span class="num">3</span><div class="step-name">输入验证码</div></div>
                            <div class="step step-col-5"><span class="num">4</span><div class="step-name">重置密码</div></div>
                             <div class="step step-col-5"><span class="num">5</span><div class="step-name">重置成功</div></div> 
                            <div class="step-clearfix"></div>
                        </div>
                    </div>
                    
                    <form action="<%= constant.base_url%>/account/password/verifyMobile" method="POST" id="form" style="margin-left:235px;">
                        <!--未发送验证码-->
                        <% if(errorMsg.message) {%>
                            <div class="tip-error form-tip">
                                <i></i><%= errorMsg.message%>
                                <button class="close-btn" id="tipCloseBtn" type="button"></button>
                            </div>
                        <%}%>
                        <label for="get-verifycode" class="label-has-innerbutton help-tip">
                            <span class="inner-title">验证码：</span>
                            <input required minlength="6" maxlength="6" number="number" id="get-verifycode" type="text" error-msg="<%= errorMsg.verification_code%>" name="verification_code" placeholder="输入验证码">
                            <button type="button" class="inner-btn inner-verifycode-btn" id="get-verifycode-btn">获取验证码</button>
                        </label>
                        <!--已发送验证码-->
                        <!--<label for="get-verifycode" class="label-has-innerbutton">
                            <span class="inner-title">验证码：</span>
                            <input id="get-verifycode" type="text" value="" placeholder="输入验证码">
                            <button class="inner-btn inner-verifycode-btn sending" id="get-verifycode-btn">重新发送（59s）</button>
                        </label>-->
                        <!--验证码提示信息-->
                        <div class="verifycode-info" id="mobileTips" style="display: none" data-mobile="<%= mobile%>">
                            验证码已发送至<strong><%= hideMobile%></strong>手机，请注意查收！
                        </div>
                        <input type="hidden" name="smslog_serno" value="<%= fields.smslog_serno%>">
                        <input type="hidden" name="mobile" value="<%= mobile%>">
                        <!--表单提交-->
                        <div class="form-submit">
                            <button class="submit-btn">
                                下一步
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <!--温馨提示-->
            <!-- <div class="form-tip-info">
                <p class="form-ts">
                    温馨提示:
                </p>
                <p>
                    尊敬的客户，您好，如果您绑定的银行卡片不慎遗失，请立即致电客服：<%=constant.bank_phone%>。
                </p>
            </div> -->
        </div>
    </div>

    <!--导入页脚-->
   <%- include('../components/footer') %>
</body>

</html>
